.section {
    padding: 1em;
    display: grid;

    overflow-x: hidden;
  
    grid-gap: 10px;
    grid-template-areas:
        'menu menu menu main main main'
        'menu menu menu main main main'
        ' footer footer footer footer right right';
    border: 2px rgb(167, 167, 21) solid;
    
}
.a {
    grid-area: menu;
  
}

.b {
    grid-area: main;
}

.c {
    grid-area: right;
}

.d {
    grid-area: footer;
}

.image-container {
    margin-bottom: 10px;
}

.image {
    max-width: 20em;
        max-height: 20em;
    z-index: 99;
    border: 0 solid #c5d9ab;
    border-bottom-width: 20px;    
height: auto;
}

.emoji-options {
    position: relative;
    height: 2em;
    bottom: 25px;
    left: 10px;
    z-index: 2;
}

.emoji {
    margin-right: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: font-size 0.3s ease;
}

.emoji:hover {
    font-size: 1.5em;

}

.comment-button {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    max-height: 50%;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}
.comments-container{
    max-height: 6rem;
    overflow-y: scroll;
    width: 37em;
    font-size: medium;
}
.text-container {
     display: flex;
        justify-content: flex-end;
    margin-bottom: 10px;
}

.image-text {
    font-size: 1.5rem;
     line-height: 2rem;
        color: #000000;
      text-align: left;
    margin-left: 1rem;
    
}

.image-description {
    position: relative;
    width: 20em;
     left: -500px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    font-size: 17px;
    z-index: 30;
}