#root {


        box-sizing: border-box;
     background-image: url('C:/Users/Toof/Downloads/wave-haikei (2).svg');
background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: cover;
        height: 100vh;
        width: 100vw;
    }